<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.portfolio.mapper.boardMapper">

	<select id="getTime" resultType="string">
		select now()
	</select>
	
	<select id="list" resultType="BoardVO">
		select bno, title, writer, content, regdate, hits, up, mno
		from tbl_chatBoard
		order by bno desc, regdate desc
	</select>
	
	<insert id="writing">
		insert into tbl_chatBoard (title, writer, content, hits, up) 
		values (#{title}, #{writer}, #{content}, 0, 0) 
	</insert>
	
	<select id="read" resultType="BoardVO">
		select bno, title, writer, content, regdate, hits, up
		from tbl_chatBoard
		where bno = #{bno}
	</select>
	
	<update id="readCnt">
		update tbl_chatBoard
		set hits = hits +1
		where bno = #{bno}
	</update>
	
	<update id="upCnt">
		update tbl_chatBoard
		set up = up +1
		where bno = #{bno}
	</update>
	
	<update id="update">
		update tbl_chatBoard 
		set title=#{title}, content=#{content}
		where bno = #{bno}
	</update>
	
	<delete id="delete">
		delete from tbl_chatBoard
		where bno = #{bno}
	</delete>
	
	<select id="listPage" resultType="BoardVO">
		<![CDATA[
			select bno, title, writer, content, regdate, hits, up
			from tbl_chatBoard
			where bno > 0
			order by bno desc, regdate desc
			limit #{page}, 10
		]]>
	</select>

	<select id="listCriteria" resultType="BoardVO">
		<![CDATA[
			select bno, title, writer, content, regdate, hits, up
			from tbl_chatBoard
			where bno > 0
			order by bno desc, regdate desc
			limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="countPaging" resultType="int">
		<![CDATA[
			select count(bno)
			from tbl_chatBoard
			where bno > 0
		]]>
	</select>

</mapper>