<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.portfolio.mapper.chatBoardMapper">

	<select id="getTime" resultType="string">
		select now()
	</select>
	
	<select id="listBoard" resultType="ChatBoardVO">
		select bno, title, content, regdate, hits, up, mno
		from tbl_chatBoard
	</select>
	
	<insert id="writingBoard">
		insert into tbl_chatBoard (title, content, mno) 
		values (#{title}, #{content}, #{mno}) 
	</insert>

</mapper>